body,html,h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;
    padding: 0;
list-style: none;
text-transform: none;
word-spacing: normal;
}
a{
    color: #000;
    text-decoration: none;
}
.nav-box{
    width: 100%;
    height: 57px;
    position: absolute;
    padding-top: 23px;
    left: 0;right: 0;
    margin: auto;
    z-index: 2;
    background: black;
    margin-bottom: 100px;

}
.nav{
    width: 1170px;
    height: 50px;
    margin: auto;


}
.nav img{
    width: 192px;
    height: 32px;
    float: left;
}
.nav a{
    height: 50px;
    display: inline-block;
    float: left;
    margin-left: 40px;
    border-bottom: 0 solid #000;
    transition:all 0.4s ease-in;
}
.nav a:hover{
    border-bottom: 1px solid #EEA91C;
}
.nav a:hover span{
    color: #EEA91C;
}
.nav a span{
    font: normal normal 16px / 24px "微软雅黑",Helvetica,Arial,Verdana,sans-serif;
    color: #ffffff;
}
/*固定导航开始 */
.gu-nav-box{
    width: 100%;
    height: 52px;
    padding-top:25px;
    position:fixed;
    background: #ffff;
    top: -100px;
    z-index: 3;
}
.gu-nav{
    width: 1280px;
    height: 50px;
    margin: auto;

}
.gu-nav img{
    width: 192px;
    height: 32px;
    float: left;
    margin-left: 40px;
}
.gu-nav a{
    height: 50px;
    display: inline-block;
    float: left;
    margin-left: 66px;
    border-bottom: 0 solid #000;
    transition:all 0.4s ease-in;
}
.gu-nav a span{
    font: normal normal 16px / 24px "微软雅黑",Helvetica,Arial,Verdana,sans-serif;
    color: #000;
}
.gu-nav a:hover{
    border-bottom: 1px solid #EEA91C;
}
.gu-nav a:hover span{
    color: #EEA91C;
}
/* 固定导航结束 */
/* 大图开始 */
.datu{
    width: 100%;
    height: 500px;
    background: url(../imgs/关于-datu.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position:Array;
    position: relative;
    margin-bottom: 30px;
}
.datu-wenzi{
    width: 1280px;
    height: 148px;
    position: absolute;
    top: 110px;
    left: 0;right: 0;margin: auto;
}
.datu-wenzi-1{
    font-family:微软雅黑;font-size:38px;font-weight:normal;font-style:normal;color:#ffffff;padding:0 0 0px 0;display:block;padding:0 0 0px 0;vertical-align:bottom;
    text-align: center;
    margin-bottom: 20px;
}
.datu-wenzi-2{
    width: 348px;
    height: 24px;
    font-family:微软雅黑; font-size:18px; padding-left:20px;padding-right:20px; padding-top:0px 20px 0px 20pxpx;padding-bottom:0px 20px 0px 20pxpx; border-color:transparent; background-color:#eea91c; color:#ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    padding: 7px 8px;
    text-align: center;
    margin-bottom: 20px;
}
.datu-wenzi-3{
    overflow:hidden;border-bottom-style:solid;width:60px;max-width:60px;border-bottom-width:3px;border-bottom-color:#ffffff;
    margin: auto;
}
/* 大图结束 */
/* 索引开始 */
.suoyin{
    width: 100%;
    height: 70px;

}
.suoyin-box{
    width: 760px;
    height: 57px;
    padding: 0 40px;
    margin: auto;
}
.suoyin-item1{
    width: 80px;
    height: 45px;
    padding: 0 5px;
    float: left;
    margin-left: 120px;
}
.suoyin-item1-wenzi{
    font-family:f7f0e379b672a86b68eef29a2ee420665;font-size:18px;font-weight:normal;font-style:normal;color:#eea91c;padding:0 0 15px 0;display:block;padding:0 0 15px 0;vertical-align:bottom;
}

/* 索引结束 */
/* guanyu-mid开始 */
.guanyu-mid{
    width: 100%;
    height: 562px;
    background: url(../imgs/关于mid.jpg);background-repeat:no-repeat; background-size:cover; 
    background-color: rgba(247,247,247,0.7);
    background-attachment:scroll; background-position:Array;
    border-top: 1px solid rgb(189, 186, 187);
}
.guanyu-mid-box{
    width: 1190px;
    height: 452px;
    margin: auto;
}

.guanyu-mid-biaoti{
    width: 216px;
    height: 50px;
    padding: 0 0 15px;
    margin: auto;
    margin-top: 40px;
    font-family:fd3a8cd413d45ee20617e588bd8a9e7db;font-size:36px;
    font-weight:normal;font-style:normal;color:#333333;padding:0 0 15px 0;display:block;
}
.guanyu-mid-line{
    width: 50px;
    height: 4px;
    box-sizing: border-box;
    border-bottom: 4px solid orange;
    margin: auto;
    margin-bottom: 20px;
}
.guanyu-mid-box span{
    letter-spacing: 1px; line-height: 24px;
    color: rgb(105, 105, 105);
}


/* guanyu-mid结束 */

/* 愿景开始 */
.yuanjing{
    width: 100%;
    height: 277px;
    position: relative;
    background: url(../imgs/愿景.jpg);
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.yuanjing-biaoti{
    width: 200px;
    height: 70px;
    margin: auto;
    position: absolute;
    top: 70px;
    left: 670px;
    font-family:f64306c5f20ed91d161d1ab65815d7767;font-size:36px;font-weight:normal;font-style:normal;color:#fcfcfc;padding:0 0 15px 0;display:block;padding:0 0 15px 0;vertical-align:bottom;

}
.yuanjing-line{
    width: 40px;
    height: 3px;
    background: orange;
    position: absolute;
    top: 145px;
    left: 740px;
   
}
.yuanjing span{
    font-family: 微软雅黑; font-size: 18px;
    width: 422px;
    height: 24px;
    position: absolute;
    top: 175px;
    left: 540px;
    color: #999999;
}
/* 愿景结束 */
/* 品牌开始 */
.brand{
    width: 100%;
}
.brand-biaoti{
    font-family:fa621a1a60633e24b84bbd3bf4907acb2;font-size:36px;font-weight:normal;font-style:normal;color:#000000;padding:0 0 15px 0;display:block;padding:0 0 15px 0;vertical-align:bottom;
    width: 144px;
    height: 60px;
    margin: auto;
    margin-top: 90px;
}
.brand-line{
    width: 40px;
    height: 3px;
    background: orange;
    margin:auto;
    margin-top:1px;
}
.brand-main{
    width: 1440px;
    height: 359px;
    margin:auto;
    margin-top: 20px;
}
.brand-item1{
    width: 444px;
    height: 281px;
    float: left;
    margin-right: 40px;
}
.brand-item1 img{
    width: 363px;
    height: 136px;
    display: block;
    
}
.brand-item1 span{
    letter-spacing: 1px;
    font-size: 15px;
    color: #606060;
}
.brand-item2{
    width: 444px;
    height: 350px;
    float: left;
    margin-right: 60px;

}
.brand-item2 img{
    width: 364px;
    height: 136px;
    display: block;
}
.brand-item3{
    width: 444px;
    height: 359px;
    float: left;
}
.brand-item3 img{
    width: 364px;
    height: 137px;
    display: block;
}
/* 品牌结束 */



/* 底部开始 */
.end{
    width: 100%;
    height: 94px;
    padding-top: 20px;
    
    background: url(../imgs/end.jpg);
}
.wenzi{
    width: 1430px;
    height: 74px;
    margin: auto;
}
.ch{
    width: 272px;
    height: 45px;
    margin:auto;
    font-family: f1e6f8b1e1075d57b8730909126e0b1ba;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    display: block;
    vertical-align: bottom;
    
}
.en{
    width: 271px;
    height: 27px;
    font-family: f35440af6a7c2bbcd71883c4a98737606;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #f4f4f4;
    display: block;
    vertical-align: bottom;
    margin:auto;
    text-align: center;
}
.footer{
    width: 100%;
    background: rgba(0,0,0,0) url(../imgs/footer.png) repeat center top;
    background-size: cover;
    word-spacing: normal;
    color: #8d9095;
    font-family: "微软雅黑",Helvetica,Arial,Verdana,sans-serif;
    font-style: normal;
    font-weight: normal;
}
.footer-box{
    width: 1440px;
    height: 400px;
    margin: auto;
    padding-top: 65px;
}
.jidi1{
    width: 360px;
    height: 153px;
    float: left;
}
.jidi1-title{
    width: 72px;
    height: 39px;
    font-family: 微软雅黑;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #efa91c;
    display: block;
    vertical-align: bottom;
}
.jidi1-item1{
    margin-bottom: 5px;
}
.jidi1-item1 img{
    width: 20px;
    height: 20px;
}
.jidi1-item1 span{
    font-size: 14px;
    line-height: 1.5em;
    color: rgb(139, 139, 139);
}
.jidi1-item2{
    margin-bottom: 5px;
}
.jidi1-item2 img{
    width: 20px;
    height: 20px;
}
.jidi1-item2 span{
    font-size: 14px;
    color: rgb(139, 139, 139);
}
.jidi1-item3 img{
    width: 20px;
    height: 20px;
}
.jidi1-item3 span{
    font-size: 14px;
    color: rgb(139, 139, 139);
    line-height: 1.5em;

}
.shengtai{
    width: 394px;
    height: 158px;
    float: left;
    margin-right: 100px;
}
.shengtai-title{
    width: 72px;
    height: 39px;
    font-family: 微软雅黑;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #efa91c;
    display: block;
    vertical-align: bottom;
    margin-left: 9px;
}
.shengtai img{
    width: 122px;
    height: 38px;
    float: left;

}
.erweima{
    padding-top: 10px;
    
}
.erweima img{
    width: 120px;
    height: 120px;
    display: block;
    margin-bottom: 14px;
}
.last{
    width: 1440px;
    height: 95px;
    margin: 120px auto 0;
}
.last img{
    width: 245px;
    height: 43px;
    display: block;
    margin: 0 auto 10px;
}
.last span{
    color: rgb(139, 139, 139);
    display: block;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
}

/* 底部结束 */